* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #FFF;
}

.logo-outlier {
    margin-left: 2rem;
    margin-top: 2rem;
}

main {
    margin: 50px auto;
    max-width: 30vw;
    min-width: 420px;
    background-color: #FFF;
    border-radius: 30px;
    text-indent: 35px;
}

main ul li {
    margin-bottom: 20px;
    font-family: 'Trispace', sans-serif;
    list-style-type: none;
    padding: 10px 0 15px 15px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: bolder;
}

a:hover {
    color: #FFF;
    background-color: #000;
    padding: 8px;
    border-radius: 10px;
}

footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

fieldset {
    margin: 200px auto;
    background-color: rgb(60, 5, 108);
    height: 250px;
    width: 250px;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0px 0px 20px 2px #ffffff9c;
    font-family: 'Trispace', sans-serif;
}

input {
    margin: 20px ;
    padding: 7px;
    border-radius: 10px;
}

.enviar {
    padding: 5px;
    border-radius: 5px;
}

.enviar:hover {
    background-color: #000;
    color: #FFF;
    cursor: pointer;
}